body {
    background-color: lightgray;
    font-family: Arial, sans-serif;
}

h1 {
    color: blue;
    text-align: center;
}

h2 {
    color: darkgreen;
}

p {
    font-size: 18px;
}

button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
}